QLN.Classified.MS/Data/Products.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProductName" type="xs:string"/>
              <xs:element name="ProductLogo" type="xs:string"/>
              <xs:element name="ProductPrice" type="xs:decimal"/>
              <xs:element name="Currency" type="xs:string"/>
              <xs:element name="ProductDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ProductName" type="xs:string"/>
                    <xs:element name="ProductSummary" type="xs:string"/>
                    <xs:element name="ProductDescription" type="xs:string"/>
                    <xs:element name="Images">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ProductImage" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Features">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Feature" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
